body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 560px;
    height: 560px;
    padding: 0px;
}

.squares {
    margin: 0px;
    background-color: white;
    border: solid black 0.1px;
}

